---
layout: default
---

<div class="home" style="padding-top: 50px;">

    {% for post in site.posts %}
        <div class="post">
            <span class="time post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </h2>
            {{ post.excerpt }}

          {% if forloop.last == false %}
          <hr />
          {% endif %}
        </div>

    {% endfor %}

</div>
