<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="fullbleed" unresolved>

      <app-header condenses reveals effects="waterfall resize-title blend-background parallax-background">
        <app-toolbar>
          <uvalib-logo text-only stacked reverse></uvalib-logo>
          <a href="/"><h2 condensed-title>The Taper</h2></a>
          <!--<paper-icon-button icon="search"></paper-icon-button>-->
        </app-toolbar>
        <app-toolbar class="tall">
          <a href="/"><h1 main-title>
            The Taper<br/>
            <span style="font-size:.5em;">Copyright and Publication Issues</span>
          </h1></a>
        </app-toolbar>
      </app-header>

      <div class="content-holder">
        <div class="content">
           {{ content }}
        </div>
      </div>

      <uva-footer drop-logo>
        <div class="column-4">
          <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </div>
      </uva-footer>

  </body>

</html>
